<a href="https://colab.research.google.com/github/jonatanriq/estudos_gerais/blob/main/b%C3%A1sico_para_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
planetas = ['mercurio', 'venus', 'terra', 'marte', 'jupiter', 'saturno', 'urano', 'netuno']

**Retornando os Valores Dentro de um Intervalo Definido**

In [ ]:
for planeta in planetas[1:4]:
  print(f'planeta = {planeta}')

planeta = venus
planeta = terra
planeta = marte

**Enumerando os Elementos**

In [ ]:

for i, plan in enumerate(planetas):
  print(f'planeta[{i}] = {plan}')

planeta[0] = mercurio
planeta[1] = venus
planeta[2] = terra
planeta[3] = marte
planeta[4] = jupiter
planeta[5] = saturno
planeta[6] = urano
planeta[7] = netuno

In [ ]:
numeros = [10, 5, 20, 2]
print('o Menor número é {}'.format(min(numeros)))
print('o maior número é {}'.format(max(numeros)))
print('a soma dos número é {}'.format(sum(numeros)))

**TRABALHANDO COM LISTAS**

In [ ]:
# ADICIONANDO A ÚLTIMA POSIÇÃO NA LISTA
planetas.append('plutão')
print(planetas)

In [ ]:
# REMOVENDO O ÚLTIMO TERMO
ultimo_planeta = planetas.pop()
print(planetas)

In [ ]:
planetas.append('saturno')
planetas.append('urano')
planetas.append('netuno')
print(planetas)

In [ ]:
#REVERTENDO A ORDEM ==> SEM PERDER A LISTA ORIGINAL <==
planetas_revertidos = list(planetas)
planetas_revertidos.reverse()
print(planetas_revertidos)

In [ ]:
# ORDENANDO OS NÚMEROS
numeros_ordenados = sorted(numeros)
print(numeros_ordenados)
print(numeros)

In [ ]:
# ORDENANDO POR ORDEM ALFABETICA
planetas_ordenados = sorted(planetas)
print(planetas)
print(planetas_ordenados)

In [ ]:
#LISTANDO EM ORDEM REVERSA
numeros_ord_reversa = sorted(numeros)
numeros_ord_reversa.reverse()
print(numeros_ord_reversa)

In [ ]:
#BUSCANDO ELEMENTOS NUMA LISTA
print(planetas)
# qual o índice do elemento 'marte'?
planetas.index('marte')

# só checar se tem o elemento na lista
'marte' in planetas

# checar se não contém um elemento na lista
'brasil' not in planetas

**Concatenando Listas (2 MÉTODOS)**

In [ ]:
cidades_centro = ['sao paulo', 'santo andre', 'sao caetano', 'sao bernardo']
cidades_interior = ['pompeia', 'campinas', 'hortolandia']

In [ ]:
#CONCATENANDO LISTAS - MÉTODO 1

cidades_estado = cidades_centro + cidades_interior

In [ ]:
#CONCATENANDO LISTAS - MÉTODO 2

cidades_estado = list(cidades_centro)
cidades_estado.extend(cidades_interior)
print(cidades_estado)

**LIST COMPREHENSION**

In [ ]:
#LIST COMPREHENSIONS

# método 1
quadrados = []
 
for i in range(10):
  quadrados.append(i ** 2)
 
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#LIST COMPREHENSIONS

# método 2

quadrados = list(range(10))
print(f'ANTES {quadrados}')

for i, num in enumerate(quadrados):
  quadrados[i] = num ** 2 ## não entendo muito bem o que ele faz aqui
print(f'DEPOIS {quadrados}')

ANTES [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
DEPOIS [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# USANDO LIST COMPREHENSIONS

quadrados = [i**2 for i in range(10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Filtrando os Números Negativos

In [ ]:
# MÉTODO 1
lista_de_numeros = [10, -2, 25, -5, 99, 1]

#alternativa 1
lista_de_numeros_positivos = []
for num in lista_de_numeros:
  if num >= 0:
    lista_de_numeros_positivos.append(num)
print(lista_de_numeros_positivos)

In [ ]:
# MÉTODO 2

# usando list comprehension
# alternativa 2
lista_de_numeros_positivos = [num for num in lista_de_numeros if num >= 0]
print(lista_de_numeros_positivos)

 ***Lambda Functions***

In [ ]:
lista_de_numeros = list(range(10))
print(lista_de_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def power_of_2(x):
  return x ** 2

In [ ]:
quadrados = list(map(power_of_2, lista_de_numeros))
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# USANDO LAMBDA FUNCTIONS
quadrados_2 = list(map(lambda x: x**2, lista_de_numeros))
print(quadrados_2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**STRINGS**

In [ ]:
#CHECAR A EXTENSÃO DO ARQUIVO
arquivo = 'imagem.PNG'
if arquivo.lower().endswith('.png'): #colocando o .lower() eu tiro a possibilidade do arquivo ser salvo com .PNG e não passar na estrutura "if"
  print('É uma imagem png')
else:
  print('O arquivo não é png')

In [ ]:
# USANDO SPLIT
diretorio = '~/documentos/arquivos'
subdiretorios = diretorio.split('/')
print(subdiretorios)

In [ ]:
#USANDO JOIN
diretorio_completo = '/'.join(subdiretorios)
print(diretorio)

In [ ]:
# gambiarra para alterar um único caracter específico de um dado index de uma string
nome = 'Luke Skywalker'
print(nome)
nome_como_lista = list(nome)
nome_como_lista
str(nome_como_lista)
''.join(nome_como_lista)

In [ ]:
# REPLACE - substituir partes de uma string por outra
txt = 'eu gosto de bananas'
txt.replace('bananas', 'maçãs')

**TUPLAS**

In [ ]:
tupla_1 = (1, 2, 3)
type(tupla_1)
print(tupla_1)

(1, 2, 3)

In [ ]:
#ATRIBUIÇÕES MÚLTIPLAS
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)

In [ ]:
a, b, c = tupla_1 # desempacota os elementos da 'tupla_1' nas variáveis

In [ ]:
# COMPACTANDO LISTAS
carros = ['onix', 'gol', 'uno']
precos = [50000, 30000, 20000]
carros_com_precos_zip = zip(carros, precos)
carros_com_precos = list(carros_com_precos_zip)
print(carros_com_precos)

In [ ]:
for x in carros_com_precos:
  print(x)

In [ ]:
for nome, preco in carros_com_precos:
  print(nome)
  print(preco)

In [ ]:
carros_com_precos_zip = zip(carros, precos)
for nome, preco in zip(carros,precos):
  print(nome)
  print(preco)

**DICIONÁRIOS**

In [ ]:
luke = {'nome': 'Luke', 'idade':16, 'peso':60}

In [ ]:
#ACESSANDO OS VALORES
luke['nome'] # mudar apenas 'idade' e 'peso'

In [ ]:
#ALTERANDO OS VALORES
luke['peso'] = 70
print(luke)

In [ ]:
#ADICIONANDO UM NOVO ELEMENTO
luke['classe'] = 'jedi'
luke['notas'] = [10.0, 5.5, 8.0]
print(luke)

In [ ]:
#COPIAR UM DICIONÁRIO
luke_copia = dict(luke) #retorna uma cópia
luke.pop('notas',None) #remove a chave 1 do dicionário
print(luke)
print(luke_copia)

In [ ]:
for chave in luke:
  print(f'luke[\'{chave}\'] = {luke[chave]}')

In [ ]:
luke.keys() # retorna uma lista com todas as chaves do dicionario
luke.values() # retorna uma lista com todos os valores do dicionario

dict_values(['Luke', 16, 70, 'jedi'])

In [ ]:
luke.items() #retorna uma lista de tuplas, onde cada tupla representa um par chave e valor do dicionário

dict_items([('nome', 'Luke'), ('idade', 16), ('peso', 70), ('classe', 'jedi')])

In [ ]:
for chave, valor in luke.items():
  print(f'luke[\'{chave}\'] = {valor}')

**BIBLIOTECAS EXTERNAS**

In [ ]:
import math

In [ ]:
math.pow(2,10)

In [ ]:
#ATRIBUINDO UM NOME AO MODULO
import random as ran

In [ ]:
ran.randint(0, 10)

In [ ]:
import numpy as np

In [ ]:
#importando apenas uma função de um módulo
from time import sleep

In [ ]:
#IMPORTANDO TUDO DA BIBLIOTECA - USE O ASTERISCO
#IMPORTE SOMENTE O QUE FOR USAR
from math import *
print(log2(16))
print(log10(100))

In [ ]:
#ALGUNS MÓDULOS POSSUEM SUBMÓDULOS
import numpy as np
from numpy import random
random.randint(0,10)

5

**Trabalhando com erros**

In [18]:
# importo o pacote sys
import sys

# atribui valores as variáveis
a = 1
b = 5

# agora eu vou tentar executar o código com tratativa de erro


try: # estou indicando o que deve ser tentado
  c = a + b
except: # estou passando o que deve ser feito em caso de erro
  print(f'Ocorreu o erro {sys.exc_info()[0]}') # o sys.exc_info()[0] retorna o nome do erro que deu
else: 
  print(f'Operação realizada com sucesso e o resultado é {c}') # se a operação for bem sucedida eu retorno isso

Operação realizada com sucesso e o resultado é 6